.sidebar-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.del-form{
    height: 150px;
    border: 2px solid #bfbfbf;
     width: 80%;
     border-radius: 10px;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}.input{
    width: 50px;
    margin-right: 10px;
}

@media (max-width : 576px) {
    .sidebar-cont{
        flex-direction: row;
    }h2{
        display: none;
    }.del-form{
        margin-top: 0px;
        width: 150px;
    }
}