.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

}
nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    display: flex;
}
.sidebar{
    width: 20vw;
}
.reactflow{
    width: 72vw;
   
}
.hr-line{
    width: 100%;
}
.vr-line{
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
button{
    background-color: rgb(82, 82, 240);
    color: #ffff;
    border: none;
    height: 25px;
    width: 60px;
    font-size: 13px;
    border-radius: 3px;
}

@media (max-width: 576px) {
    .container{
        display: flex;
        flex-direction: column;
    }.sidebar{
        width: 100vw;
    }.reactflow{
        width: 100vw;
    }
}