.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    display: flex;
}
.sidebar{
    width: 25vw;
}
.reactflow{
    width: 70vw;
   align-items: center;
}
.hr-line{
    width: 100%;
}
.vr-line{
    height: 100vh;
    margin: 0px;
    padding: 0px;
}