form{
     border: 2px solid #bfbfbf;
     margin: 10px;
     padding: 10px;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 90%;
     min-height: 200px;
     max-height: 220px;
     box-sizing: border-box;
}
h3{
    text-align: center;
    height: 20px;
    margin: 0px;
    font-family: sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width : 768px) {
    form{
        padding: 0px;
        width: 90%;
        padding-bottom: 5px;
    }
}

@media (max-width : 576px) {
    form{
        width: 130px;
        padding: 0px;
        margin: 5px;
        height: 190px;
        box-sizing: border-box;
    }.vr-line{
        display: none;
    }
}