form{
     border: 2px solid #bfbfbf;
     margin: 10px;
     padding: 10px;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 80%;
     height: 200px;
}
h3{
    text-align: center;
}

@media (max-width : 768px) {
    form{
        padding: 0px;
        width: 90%;
        padding-bottom: 5px;
    }
}

@media (max-width : 576px) {
    form{
        width: 200px;
        padding: 0px;
        margin: 5px;
        height: 200px;
        box-sizing: border-box;
    }.vr-line{
        display: none;
    }
}