label{
    width: 100px;
}
.input-div{
    width: 95%;
    display: flex;
    align-items: center;
    margin: 10px;
}
input{
    width: 90%;
}
button{
    text-align: center;
    
}

@media (max-width : 768px) {
    .input-div{
        width: 150px;
        margin: 5px;
    }label{
        width: 50px;
    }input{
        width: 80%;
    }
    
}