label{
    width: 100px;
}
.input-div{
    width: 95%;
    display: flex;
    align-items: center;
    margin: 10px;
}
input{
    width: 50%;
    height: 20px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
}
button{
    text-align: center;
    
}

@media (max-width : 768px) {
    .input-div{
        width: 100px;
        margin: 5px;
    }label{
        width: 50px;
    }input{
        width: 40%;
    }
    
}